name: Dispatch Merge Event

on:
  pull_request:
    branches:
      - main
    types: [closed]

jobs:
  publish-merge-event:
    if: ${{ github.event.pull_request.merged }}
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Open PR workflow
        uses: GeekEast/trigger-open-pr-workflow@1.0.17
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          workflow_filename: 'pipeline.yml'
